@use '../helpers' as *;

body {
    background: linear-gradient(135deg, #d1eaf0e1, #a8c1d5d7, #f0e6d2d8);
    background-size: 400% 400%;
    animation: gradient-animation 10s ease infinite;
    min-height: 100vh;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 100%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 50% 0%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
