@use '../helpers' as *;

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: rem(20);
    font-family: var(--font-family-accent);
    font-weight: 600;
    font-size: fluid(62, 28);
}