@use '../helpers' as *;

.save-button {
    margin-left: auto;
    background: url(../img/edit.svg) center/contain no-repeat; 
    padding: rem(5) rem(15);
    width: rem(40);
    height: rem(30);
    border: none;
}