@use '../helpers' as *;

.toggle-button {
    padding-top: rem(20);
    display: flex;
    margin-left: auto;
    right: rem(300);
    background-color: transparent;
    margin-right: rem(20);

    @include tablet {
        width: rem(60);
    }

    & > img {
        border-radius: rem(18);
    }
}