@font-face {
    font-family: 'Monda';
    src: url('../fonts/monda-regular.woff2') format('woff');
    font-style: normal;
    font-weight: 400;
    font-style: swap;
}

@font-face {
    font-family: 'CarterOne';
    src: url('../fonts/carter-one.woff2') format('woff');
    font-style: normal;
    font-weight: 400;
    font-style: swap;
}

