@use './helpers' as *;

// html {
//     // overflow-x:hidden;
//     // // &.is-lock {
//     // //     overflow:hidden;
//     // // }
// }

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

button {
    border: none;
    border-radius: var(--border-radius);
    
    &:hover {
        transform: scale(1.1);
    }
}

input {
    border: none;
    border-radius: var(--border-radius-button);
}

a {
    color: inherit;

    @include hover {
        color: var(--color-accent);
    }

    &[class] {
        text-decoration: none;
    }
}

:focus-visible {
    outline: rem(2) dashed var(--color-light);
    outline-offset: rem(4);
    transition-duration: 0s !important;
}

