@use './helpers' as *;

:root {
    --color-input: #A8D2A5;
    --color-background: #52d3973b;
    --color-text: #3E3B3B;
    --color-dark: #0f0f0f;
    --color-fill: #2D3748;
    --color-body:#FAF9F6;

    --border: #{rem(1)} solid var(--color-dark);
    --border-radius: #{rem(10)};
    --border-radius-button: #{rem(5)};
    --container-width: #{rem(1260)};
    --container-padding-x: #{rem(15)};

    --font-family-base: 'Monda', sans-serif;
    --font-family-accent: 'CarterOne', sans-serif;

    --transition-duration: 0.3s;
    --transition-theme: 0.8s;

    --button-box-shadow: 0 4px 4px 0 #acd4e1;
    --button-linear-gradient: linear-gradient(90deg, #a8d2a5 0%, #acd4e1 100%);
}
